.bg-con
{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.clgName
{
    color:brown;
    text-align: center;
    font-size: 25px;
}
.info
{
    font-size: 12px;
    color: green;
    text-align: center;
}
.userInfo
{
    width: 90vw;
}
.welcomebod
{
    background-color: skyblue;
    color: white;
    padding: 2px;
}
.infobody
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.infoList
{
    list-style: none;
}
.eachItem
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ht
{
    
    color: green;
    font-size: 15px;
}
.roll
{
    font-size: 12px;
    margin-left: 5px;
}
.pfp
{
    height: 100px;
    width: 100px;
}
.noteCon
{
    background-color: skyblue;
    color: white;
    padding: 5px;
}

.header
{
    list-style: none;
    display:flex;
    flex-direction: row;
    color: #FFFFFF;
    font: 16px;
    background-color: blue;
    align-items: center;
    gap: 10px;
}
